<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
    <channel>
        <title>{{title}}</title>
        <link>{{url}}</link>
        <image>
            <url>{{image}}</url>
            <title>{{title}}</title>
            <link>{{url}}</link>
        </image>
        <description>{{description}}</description>
        <language>it-it</language>
        <lastBuildDate>{{rss2update}}</lastBuildDate>
        <itunes:author>{{author}}</itunes:author>
        <itunes:summary>{{description}}</itunes:summary>
        <itunes:subtitle>{{description}}</itunes:subtitle>
        <itunes:explicit>No</itunes:explicit>
        <itunes:category text="Art">
            <itunes:category text="Books" />
        </itunes:category>
        <itunes:image href="{{image}}"/>
        <pubDate>{{rss2update}}</pubDate>
        {{#entries}}
            <item>
                <title>{{title}}</title>
                <link>{{url}}</link>
                <enclosure url="{{mp3}}" type="audio/mpeg"/>
                <guid>{{mp3}}</guid>
                <description>{{title}}</description>{{#duration}}
                <itunes:duration>{{.}}</itunes:duration>{{/duration}}
            </item>
        {{/entries}}
    </channel>
</rss>